<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EALScreeningTool</title>  
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
    <link rel="stylesheet" type="text/css" href="~/css/site.css" /> 

  
</head>
<body>   
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">EAL Screening Tool</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Projects" asp-action="Index">All Projects</a>
                            <a class="dropdown-item" asp-controller="Projects" asp-action="Create">Add New Project</a>
                            <a class="dropdown-item" asp-controller="Projects" asp-action="/">Another action</a>
                            <a class="dropdown-item" asp-controller="Projects" asp-action="/">Something else</a>                           
                        </div>
                    </li>

                    <li class="nav-item  my-2 my-sm-0">
                        <a class="nav-link" href="#">@User.Identity.Name</a>
                    </li>

                    @using (Html.BeginForm("LogOff", "Account"))
                    {
                        <input type="submit" class="btn my-2 my-sm-0" value="Log out" />
                    }

                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Register">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </nav>



    <div class="body-content">
        <div class="container">
            @RenderBody()        
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 EAL Screening Tool</p>
        </footer>
   </div>
    
</body>
</html>
