@model IEnumerable<EALScreeningTool.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
@Html.ActionLink("Add New Project", "Create")

<ul>
    @foreach (var project in Model)
    {
        <li>@Html.ActionLink((string)project.ProjectName, "Details", new { projectId = project.ProjectId })</li>
    }
</ul>


